svg{

	.tick{
		line{
			stroke : var(--axisColor);
		}

		text{
			stroke : var(--labelColor);
		}	
	}

	.y-axis{
		
		.tick{
			text{
				transform : translate(-10px,0);
			}
		}
		.domain{
			visibility: hidden;
		}
	}

	.x-axis{

		.domain{
			visibility: hidden;
		}
	}

	.data{
		stroke : var(--plotStroke);
	}

	.dot,.bar{
		fill : var(--dataPointFill);
	}

	circle.highlighted-point{
		stroke : var(--dataPointHoverColor);
		fill : var(--dataPointFill);
	}

	rect.highlighted-point{
		fill : var(--dataPointHoverColor);
	}

	.area{
		fill : var(--plotAreaFill);
	}

	.info-rect{
		stroke : var(--infoRectColor);
		stroke-width : 1px;
		fill : #fff;
		padding: 5px;

		.text{
			font-weight : 300;
			font-size: 12px; 
		}
	}
}